:root {
  --titles: #ff6a28;
  --text2: #61656d;
  --background: #ffffff;
  --background2: #f0f0f0;
}

body {
  background-color: var(--background2);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 798px;
  border-radius: 5px;
  background-color: var(--background);
  padding: 20px;
  box-sizing: border-box;
}

.title {
  color: var(--titles);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.sub-title {
  margin-top: 8px;
  font-size: 16px;
  color: var(--text2);
}

.img {
  width: 100%;
  margin-top: 14px;
}

.info-box {
  height: 85px;
  width: 118px;
  border-radius: 5px;
  background: var(--background2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 20px;
}
.info-text {
  font-size: 14;
  margin-top: 8px;
  text-transform: uppercase;
  color: var(--text2);
}

.info-strong-text {
  text-transform: uppercase;
  color: var(--titles);
  margin-top: 6px;
  font-size: 14px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.owner-box {
  width: 238px;
  height: 85px;
  background-color: var(--background2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner-image {
  width: 60px;
  height: 60px;
}

.owner-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.owner-name {
  color: var(--titles);
  font-size: 14px;
  font-weight: 700;
}

.owner-info {
  color: var(--text2);
  font-size: 14px;
}

.ingredients-box {
  margin-top: 37px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: center;
}

.icon-title {
  margin-left: 8px;
}

.list {
  list-style-position: inside;
  margin-top: 12px;
}

.list-item {
  color: var(--text2);
  padding-bottom: 10px;
}

.preparation-box {
  margin-top: 16px;
}

.preparation-item {
  margin-bottom: 20px;
}

.add-info-box {
  margin-top: 16px;
}

.secundary-title {
  background-color: var(--background2);
  padding: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text2);
  text-align: center;
}

.add-info-text {
  margin-top: 16px;
}

.add-info-text p {
  color: var(--text2);
  font-size: 14px;
}
